@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #f4ca27;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-infor-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.contenedor {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-infor-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-succes);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
    position: sticky;
    top: 0;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-infor-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);

}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

main {
    margin-top: 1.4rem;
}

/*MENU*/

main .contenedor__menu {
    margin-top: 2rem;
    
}

main .contenedor__menu .contenedor__menu__textarea {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__menu .contenedor__menu__textarea:hover{
    box-shadow: none;
}

main .contenedor__menu h2{
    margin-bottom: 0.8rem;
}

main .contenedor__menu textarea{
    width: 100%;
    resize: none;
    background: var(--color-background);
    font-family: poppins, sans-serif;
    font-size: 16px;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    height: 200px;
}

.contenedor__menu .contenedor__menu__textarea button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__menu .contenedor__menu__textarea button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

main .contenedor__menu .contenedor__menu__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
    display: none;

}

main .contenedor__menu .contenedor__menu__tablas table{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__menu .contenedor__menu__tablas table:hover{
    box-shadow: none;
}

.contenedor__menu .contenedor__menu__tablas{
    max-width: 1225px;
    max-height: fit-content;
    
}

.contenedor__menu .contenedor__menu__tablas .contenedor__menu__tablas1{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 350px;
    max-height: 70vh;
    
    max-width: fit-content;
}
.contenedor__menu .contenedor__menu__tablas .contenedor__menu__tablas1 table{
    min-width: max-content;
    border-collapse: separate;
    text-align: center;
}

.contenedor__menu .contenedor__menu__tablas .contenedor__menu__tablas1 table th{
    position: sticky;
    top: 0px;
    background: var(--color-white);
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
    font-size: 16px;
    padding: 5px;
}

.contenedor__menu .contenedor__menu__tablas .contenedor__menu__tablas1 table td{
    border: 1px solid var(--color-primary);
}


/*CLIENTES*/

main .contenedor__clientes {
    margin-top: 2rem;
}

main .contenedor__clientes .contenedor__clientes__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__clientes .contenedor__clientes__formulario:hover{
    box-shadow: none;
}

main .contenedor__clientes h2{
    margin-bottom: 0.8rem;
}

main .contenedor__clientes .contenedor__clientes__tablas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__clientes .contenedor__clientes__tablas table{
    background: var(--color-white);
    width: 92%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__clientes .contenedor__clientes__tablas table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

.contenedor__clientes .contenedor__clientes__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 35px;
    margin-left: 35px;
}

.contenedor__clientes .contenedor__clientes__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__clientes .contenedor__clientes__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*PEDIDOS*/

main .contenedor__pedidos {
    margin-top: 2rem;
}

main .contenedor__pedidos .contenedor__pedidos__registro {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__pedidos .contenedor__pedidos__registro:hover{
    box-shadow: none;
}

main .contenedor__pedidos h2{
    margin-bottom: 0.8rem;
}

main .contenedor__pedidos .contenedor__pedidos__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__pedidos .contenedor__pedidos__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__pedidos .contenedor__pedidos__tablas table:hover{
    box-shadow: none;
}

.contenedor__pedidos .contenedor__pedidos__registro input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 35px;
}

.contenedor__pedidos .contenedor__pedidos__registro button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__pedidos .contenedor__pedidos__registro button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

.contenedor__pedidos .contenedor__pedidos__registro select{
    font-size: 16px;
    padding: 10px;
    background: var(--color-background);
    appearance: auto;
    border: 0;
    border-radius: var(--card-border-radius);
    margin-right: 35px;
}
/* Facturas */

main .contenedor__facturas {
    margin-top: 2rem;
}

main .contenedor__facturas h2{
    margin-bottom: 0.8rem;
}

main .contenedor__facturas .contenedor__facturas__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__facturas .contenedor__facturas__tablas table:hover{
    box-shadow: none;
}

/*COLEGIOS*/

main .contenedor__colegios {
    margin-top: 2rem;
}

main .contenedor__colegios .contenedor__colegios__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__colegios .contenedor__colegios__formulario:hover{
    box-shadow: none;
}

main .contenedor__colegios h2{
    margin-bottom: 0.8rem;
}

main .contenedor__colegios .contenedor__colegios__tablas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__colegios .contenedor__colegios__tablas table{
    background: var(--color-white);
    width: 92%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__colegios .contenedor__colegios__tablas table:hover{
    box-shadow: none;
}

.contenedor__colegios .contenedor__colegios__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__colegios .contenedor__colegios__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__colegios .contenedor__colegios__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*UNIFORMES*/

main .contenedor__uniformes {
    margin-top: 2rem;
}

main .contenedor__uniformes .contenedor__uniformes__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__uniformes .contenedor__uniformes__formulario:hover{
    box-shadow: none;
}

main .contenedor__uniformes h2{
    margin-bottom: 0.8rem;
}

main .contenedor__uniformes .contenedor__uniformes__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__uniformes .contenedor__uniformes__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__uniformes .contenedor__uniformes__tablas table:hover{
    box-shadow: none;
}

.contenedor__uniformes .contenedor__uniformes__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__uniformes .contenedor__uniformes__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__uniformes .contenedor__uniformes__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*PRODUCTO TERMINADO*/

main .contenedor__producto__terminado {
    
    margin-top: 2rem;
}

main .contenedor__producto__terminado .contenedor__producto__terminado__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__producto__terminado .contenedor__producto__terminado__formulario:hover{
    box-shadow: none;
}

main .contenedor__producto__terminado h2{
    margin-bottom: 0.8rem;
}

main .contenedor__producto__terminado .contenedor__producto__terminado__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__producto__terminado .contenedor__producto__terminado__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__producto__terminado .contenedor__producto__terminado__tablas table:hover{
    box-shadow: none;
}

.contenedor__producto__terminado .contenedor__producto__terminado__formulario form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.contenedor__producto__terminado .contenedor__producto__terminado__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__producto__terminado .contenedor__producto__terminado__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__producto__terminado .contenedor__producto__terminado__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*MATERIA PRIMA*/

main .contenedor__materia__prima {
    margin-top: 2rem;
}

main .contenedor__materia__prima .contenedor__materia__prima__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__materia__prima .contenedor__materia__prima__formulario:hover{
    box-shadow: none;
}

main .contenedor__materia__prima h2{
    margin-bottom: 0.8rem;
}

main .contenedor__materia__prima .contenedor__materia__prima__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__materia__prima .contenedor__materia__prima__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__materia__prima .contenedor__materia__prima__tablas table:hover{
    box-shadow: none;
}

.contenedor__materia__prima .contenedor__materia__prima__formulario form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.contenedor__materia__prima .contenedor__materia__prima__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__materia__prima .contenedor__materia__prima__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__materia__prima .contenedor__materia__prima__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*PROVEEDORES*/

main .contenedor__proveedores {
    margin-top: 2rem;
}

main .contenedor__proveedores .contenedor__proveedores__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__proveedores .contenedor__proveedores__formulario:hover{
    box-shadow: none;
}

main .contenedor__proveedores h2{
    margin-bottom: 0.8rem;
}

main .contenedor__proveedores .contenedor__proveedores__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__proveedores .contenedor__proveedores__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__proveedores .contenedor__proveedores__tablas table:hover{
    box-shadow: none;
}

.contenedor__proveedores .contenedor__proveedores__formulario form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.contenedor__proveedores .contenedor__proveedores__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__proveedores .contenedor__proveedores__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__proveedores .contenedor__proveedores__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*AJUSTES*/

main .contenedor__ajustes__usuario {
    
    margin-top: 2rem;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
    margin-bottom: 4rem;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario:hover{
    box-shadow: none;
}

main .contenedor__ajustes__usuario h2{
    margin-bottom: 0.8rem;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__tablas{
    display: grid;
    gap: 1.6rem;
    margin-top: 4rem;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__tablas table{
    background: var(--color-white);
    width: 96%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__tablas table:hover{
    box-shadow: none;
}

.contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}

.contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__ajustes__usuario .contenedor__ajustes__usuario__formulario:hover{
    box-shadow: none;
}

main .contenedor__ajustes__usuario .contenedor__eliminar__usuario__formulario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

main .contenedor__ajustes__usuario .contenedor__eliminar__usuario__formulario:hover{
    box-shadow: none;
}

.contenedor__ajustes__usuario .contenedor__eliminar__usuario__formulario form input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: var(--color-background);
    font-size: 16px;
    outline: none;
    border-radius: var(--card-border-radius);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.contenedor__ajustes__usuario .contenedor__eliminar__usuario__formulario button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 16px;
    color: var(--color-danger);
    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-danger);
    background: transparent;
    font-weight: 600;
    transition: all 300ms;
}
.contenedor__ajustes__usuario .contenedor__eliminar__usuario__formulario button:hover{
    background: var(--color-danger);
    color: var(--color-white);
}

/*DERECHA*/

.derecha{
    font-family: poppins, sans-serif;
    position: sticky;
    top: 0;
    height: 100vh;

}

.derecha .top {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

.derecha .top:hover{
    box-shadow: none;
}

.derecha h2{
    margin-bottom: 0.8rem;
}

.derecha .informacion__usuario {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

.derecha .informacion__usuario:hover {
    box-shadow: none;

}

.derecha .informacion__usuario h3{
    text-align: left;
    font-size: 16px;
    font-family: poppins, sans-serif;

}

.derecha .tiempo__activo {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    text-align: center;
}

.derecha .tiempo__activo:hover {
    box-shadow: none;

}

.derecha .tiempo__activo p{
    font-size: 21px;
    color: var(--color-dark);

}


.contenedor__clientes, .contenedor__pedidos, .contenedor__facturas, .contenedor__colegios, .contenedor__uniformes, .contenedor__producto__terminado, .contenedor__materia__prima, .contenedor__proveedores, .contenedor__ajustes__usuario {
    display: none;
  }